body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #87b0f2;
}

.jumbotron {
  background-color: red;
  border-radius: 0!important;
}
.navbar {
  margin:0;
}
.navbar-default .navbar-nav>li>a {
  color: red;
}
.wrapper {
  margin-top: 20px;
  margin-bottom: 80px;
}
label {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
}
.form-signin {
  max-width: 500px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input{
  height: 30px!important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[name="clausewant"]{
  height: 50px!important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[name="clausedontwant"]{
  height: 50px!important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
input[type="password"] {
  height: 40px!important;
}
input[type="tel"] {
  height: 40px!important;
}
input[name="name"] {
  height: 40px!important;
}
input[type="email"] {
  height: 40px!important;
}
.disabled {
  opacity: 0.4;
}
